.message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: transparent;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
  width: 70%;
  height: calc(100vh - 5rem);
  padding: 1rem;
}
.heading {
  color: var(--green);
  letter-spacing: 2px;
  font-size: clamp(2rem, 3vw, 3rem);
  transform: translateY(50px);
  opacity: 0;
  transition: all 1s ease;
}
.form h4 {
  color: var(--green);
  letter-spacing: 2px;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 1rem;
  width: 100%;
}
.form > div {
  display: flex;
  flex-direction: column;
  height: fit-content;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1s ease;
  padding: 0.5rem;
}
.form > div:first-child,
.form > div:nth-child(2) {
  width: 50%;
}
.form > div:nth-child(3) {
  width: 100%;
}
.form > div label {
  width: fit-content;
  color: var(--green);
  font-weight: 500;
  padding: 0.5rem 0;
}
.form > div input {
  background-color: transparent;
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--white);
  outline: none;
  border-radius: 4px;
  color: var(--white);
}
.form > div input:focus {
  outline: 2px solid var(--green);
}
.form > div textarea {
  background-color: transparent;
  width: 100%;
  height: 20ch;
  padding: 0.5rem;
  font-size: 1rem;
  resize: none;
  border-radius: 4px;
  border: 1px solid var(--white);
  outline: none;
  color: var(--white);
}
.form > div textarea:focus {
  outline: 2px solid var(--green);
}
.btn {
  margin-right: 0rem;
  margin-left: auto;
}
.submit {
  height: 2.5rem;
  width: 6rem;
  padding: 0 1rem;
  font-size: 1rem;
  border: 1px solid var(--green);
  border-radius: 0.25rem;
  background-image: linear-gradient(var(--green), var(--green));
  background-size: 0% 3rem;
  background-repeat: no-repeat;
  background-color: transparent;
  color: var(--green);
  font-weight: 700;
  transition: background-size 150ms, color 150ms;
  cursor: pointer;
}
.submit:hover {
  color: var(--navy);
  background-size: 100% 3rem;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
    margin-top: 5rem;
    height: fit-content;
  }
  .form {
    flex-direction: column;
  }
  .form > div {
    padding: 0.5rem 0;
  }
  .form > div:first-child,
  .form > div:nth-child(2) {
    width: 100%;
  }
}
