.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 5rem;
  color: var(--white);
  background-color: transparent;
}
.navbar nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 100%;
  width: 100%;
}
.navH {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: fit-content;
}

.navH ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  list-style: none;
  font-size: 1rem;
  font-weight: 700;
  height: 2.5rem;
  color: inherit;
  cursor: pointer;
  transition: all 1s ease;
}
.navV {
  display: none;
}
.navH ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 2px;
  color: var(--white);
  cursor: pointer;
}
.navbar li span:hover {
  color: var(--green);
  background-color: var(--light-green);
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: 3rem;
  color: var(--green);
  border: 2px solid var(--green);
  cursor: pointer;
}
.logo span {
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-decoration: none;
  color: var(--green);
}
.navH ul li,
.logo,
.menu {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 1s ease, transform 1s ease;
}
.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
  padding: 0 1rem;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 2px;
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--green);
  transition: transform 0.25s cubic-bezier(0.42, 0.15, 0.67, 0.84);
}
.resume:hover {
  background-color: var(--green-light);
}
.navV {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.backdrop {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: saturate(180%) blur(8px);
  transition: all 10ms ease;
}
.navV ul {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--navy);
  z-index: 200;
  transition: all 0.3s ease;
}
.navV ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  width: 100%;
  height: fit-content;
}
.navV ul li:first-child {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem;
}
.navV li:focus {
  color: var(--green);
  background-color: var(--green-light);
}

@media (max-width: 768px) {
  .navH {
    display: none;
  }
  .navV {
    display: flex;
  }
  .resume {
    margin-top: 1rem;
    width: fit-content;
    height: 2.5rem;
  }
}
