.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color);
  height: 100vh;
  width: 100%;
  background-color: transparent;
}

.intro > header {
  position: relative;
  top: 10vh;
  width: 90%;
  height: 30vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.intro > header h1 {
  font-size: 3rem;
  color: #ffa500;
  font-family: 'Georama', sans-serif;
}
.intro > header h3 {
  color: yellow;
  font-weight: 400;
  font-family: 'Georama', sans-serif;
}
.intro > article {
  position: relative;
  top: 10vh;
  width: 80%;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.intro > article div:first-child {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.intro > article p {
  text-align: left;
  width: 100%;
  color: hsl(347, 85%, 50%);
  font-size: 1.2rem;
  font-family: 'Georama', sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
}

.logo {
  background-image: url('../images/19199262.jpg');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  opacity: 0.5;
  border-radius: 50%;
}
