.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: transparent;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  height: 100%;
  padding: 1rem;
}
.section > * {
  height: fit-content;
  padding: 0.125rem 0;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}

.section h2 {
  letter-spacing: 2px;
  font-size: clamp(3rem, 5vw, 7rem);
  font-family: 'Georama', sans-serif;
}
.section h3 {
  text-align: left;
  letter-spacing: 2px;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-family: 'Georama', sans-serif;
}
.links {
  position: fixed;
  left: 1rem;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}
.links > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 0.75rem;
  color: var(--dark-white);
}
.links > a:hover {
  background-color: var(--green-light);
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
  .links {
    display: none;
  }
}
